@import '../abstracts/_variables';

.input-box {
  border: 1px solid $border-color;
  background-color: white;
  min-height: 54px;
  width: 536px;
  font-size: $font-size;

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }
}
