// SPACING
$spacing-multiplier: 4px;
$character-spacing: 0px;
$line-spacing: 25px;

// THEME COLORS
$theme-primary: #24b5bc;
// $theme-secondary: #24B5BC;

// SURFACE COLORS
$white: #ffffff;
$black: #000000;

// FONTS
$font-size: 20px;
$font-weight: normal;

//BORDERS
$border-color: #707070;

// LAYOUT VARIABLES
$app-header-height: 99px;
$app-max-width: 1080px;
$app-body-opacity: 79%;
