.font-bold {
  font-weight: bold;
}

.font-uppercase {
  text-transform: uppercase;
}

.font-capitalize {
  text-transform: capitalize;
}

.font-capitalize-first::first-letter {
  text-transform: uppercase;
}
